@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 425px) {
}

/* ––––––– HEADER ––––––– */

header {
  --links-color-scrolled: var(--text-heading-secondary);
  --header-active-color: var(--bg-header);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  background-color: transparent;

  width: 100%;
  height: var(--header-height);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  color: var(--text-link-secondary-inverted);
  font-size: var(--text-sm);

  transition: all 0.3s ease;
}
header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;

  padding-block: 1rem;
}

header.active {
  background-color: var(--header-active-color);
  box-shadow: var(--shadow);
}
header.darken {
  background-color: var(--header-active-color);
  box-shadow: var(--shadow);
}
header.active > .container > nav,
header.darken > .container > nav {
  color: var(--text-heading-secondary);
}

header.active .logo,
header.darken .logo {
  filter: invert(1);
  transition: filter 0.3s ease;
}

/* temporary */
header > .container > nav {
  margin: 0 auto;
}

header > .container > nav > ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style-type: none;
}
/* temporary */
header .container > div:last-of-type {
  display: none !important;
}

header > .container > div:last-of-type {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header div .languages > a {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  header > .container > nav {
    display: none;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 425px) {
}

/* ––––––– HERO ––––––– */

section.hero {
  display: grid;
  position: relative;
  z-index: 9;
  padding: 0;
  min-height: 600px;
}
section.hero > video,
section.hero > img {
  object-fit: cover;
  object-position: 60% 0;
  height: 100%;
  width: 100%;
}
section.hero > * {
  grid-area: 1/1;
}

section.hero .container {
  display: flex;
  height: 100%;
  padding-bottom: var(--section-padding);
}

section.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(0.4);
}

section.hero .hero__text {
  margin-top: auto;
  position: relative;
  z-index: 10;
  width: 60%;

  color: var(--text-heading-inverted);
  font-size: var(--text-4xl);
  font-family: var(--font-lora);
  line-height: 1.2;
  letter-spacing: -2%;
}
section.hero .hero__text > h1 {
  font-size: inherit;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
  section.hero .hero__text {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 425px) {
}

/* ––––––– ABOUT US ––––––– */
section.about-us {
  display: flex;
  flex-direction: column;
  gap: 40px;

  color: var(--text-heading-secondary);
}
section.about-us h3 {
  font-family: var(--font-lora);
  font-weight: 400;
  font-size: var(--text-2xl);
  line-height: 1.2;
  text-align: center;
  width: 50%;
  margin-inline: auto;
}
section.about-us span {
  font-family: var(--font-lora);
  font-weight: 400;
  font-size: var(--text-3xl);
  line-height: 1.2;
  width: 50%;
}
section.about-us p {
  margin-left: auto;
  width: 50%;
  font-size: var(--text-md);
  font-weight: 400;
  line-height: 1.5;
}

section.about-us .about__circles {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
section.about-us .about__circles > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: -30px;

  border-width: 1px;
  border-style: dashed;
  border-color: #d2d2d2;
  height: 290px;
  aspect-ratio: 1/1;
  opacity: 0;
  border-radius: 50%;
}
section.about-us .about__circles > div.main {
  overflow: hidden;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #d5feff 0%, #fcf6ec 100%);
}
section.about-us .about__circles > div:nth-child(2),
section.about-us .about__circles > div:nth-child(4) {
  animation-delay: 0.25s;
}
section.about-us .about__circles > div:first-child,
section.about-us .about__circles > div:last-child {
  animation-delay: 0.5s;
}

section.about-us .about__circles > div.animated {
  animation-name: popup;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
section.about-us .about__circles > div > span {
  text-align: center;
  font-size: var(--text-xl);
}

@keyframes popup {
  0% {
    transform: scale(0.9) translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  section.about-us .about__circles {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  section.about-us h3,
  section.about-us span,
  section.about-us p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 425px) {
}

/* ––––––– LATEST INSIGHTS ––––––– */

section.latest-insights {
  overflow: hidden;
}

section.latest-insights .insights {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 380px));
  gap: 20px;
}

section.latest-insights .latest-insights__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 64px;
}

section.latest-insights .insights article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;

  padding: 20px;

  background-color: var(--bg-badge);
}
section.latest-insights .insights .insight__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
section.latest-insights .insights .insight__item-header > p {
  font-weight: 500;
  font-size: var(--text-xs);
  line-height: 1.5;
  color: var(--text-heading-secondary);
}
section.latest-insights .insights .insight__item-header > p::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 6px;
}
section.latest-insights .insights .insight__item-header > span {
  font-weight: 400;
  font-size: var(--text-2xs);
  line-height: 1.5;
  color: var(--text-body);
}
section.latest-insights .insights > article > h3 {
  font-family: var(--font-lora);
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 1.5;
}
section.latest-insights .insights .insight__item-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}

section.latest-insights .insights__short {
  display: flex;
  flex-direction: column;
}
section.latest-insights .insights__short > article {
  padding-block: 40px;
  border-bottom: 1px solid var(--border-secondary);
}
section.latest-insights .insights__short > article > span {
  font-weight: 400;
  font-size: var(--text-xs);
  line-height: 1.4;
  color: var(--text-body);
}
section.latest-insights .insights__short > article > h3 {
  margin-top: 12px;
  font-family: var(--font-lora);
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 1.5;
  color: var(--text-heading-primary);
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
  section.latest-insights .latest-insights__container .insights__short {
    display: none;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
  section.latest-insights .latest-insights__container {
    display: block;
  }
  section.latest-insights .insights {
    display: block;
  }
  section.latest-insights .insights__slider {
    position: relative;
  }
  section.latest-insights .insights__slider::before {
    content: "";
    position: absolute;
    background-color: var(--bg-primary);
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    width: 50vw;
    z-index: 1;
  }
  section.latest-insights .insights article {
    gap: 1.5rem;
    margin-inline: 0.5rem;
  }
  section.latest-insights .insights .slick-list {
    overflow: visible;
  }
}
@media screen and (max-width: 425px) {
}

/* –––––––– MAP ––––––– */

section.map {
  background-color: #33111b;
}
section.map .container .page-divider {
  color: var(--violet);
}
section.map .container .page-divider::after {
  background-color: var(--violet);
}

section.map .map-container {
  position: relative;
}

section.map .map-container > .map__info {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  color: var(--violet);
}
section.map .map-container > .map__info > div {
  display: flex;
  flex-direction: column;
  gap: 42px;

  padding-top: 20px;
  border-bottom: 1px solid #abd8d680;
}
section.map .map-container > .map__info > div:last-child {
  border-bottom: none;
}
section.map .map-container > .map__info > div:first-child {
  padding-top: 0;
}
section.map .map-container > .map__info p {
  font-size: var(--text-sm);
  text-align: left;
}
section.map .map-container > .map__info span {
  display: block;
  font-size: 72px;
  font-family: var(--font-lora);
  text-align: right;
}

section.map #map {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  scrollbar-gutter: stable;
}

section.map #map::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

section.map #map::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

section.map #map::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

section.map #map::-webkit-scrollbar-track {
  background-color: transparent;
}

section.map .container .map-pin {
  cursor: pointer;
  transition: all 0.3s ease;
}
section.map .container .pulse-circle {
  animation: pulsation 1.5s ease-out infinite;
}

@keyframes pulsation {
  from {
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@media screen and (max-width: 1280px) {
  section.map .map-container > .map__info {
    width: 30%;
    padding: 12px;
    backdrop-filter: brightness(0.5);
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  section.map .map-container > .map__info {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: unset;
    backdrop-filter: none;
  }
  section.map .map-container > .map__info p {
    text-align: center;
  }
  section.map .map-container > .map__info span {
    text-align: center;
  }
  section.map .map-container > .map__info > div:first-child {
    padding-top: 20px;
  }
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 425px) {
}

/* ––––––– PROJECTS ––––––– */

section.projects {
  overflow-x: hidden;
}

section.projects .page-divider a {
  display: none;
}

section.projects .projects__slider {
  position: relative;
}
section.projects .container > a {
  --link-color: var(--text-link-primary);

  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 60px;
  border: 1px solid var(--link-color);

  padding: 12px 0;
  text-align: center;
  font-size: var(--text-md);
}
section.projects .container > a::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;

  border-right: 2px solid var(--link-color);
  border-bottom: 2px solid var(--link-color);
  border-radius: 2px;

  transform-origin: center;
  transform: rotate(-45deg);
}
section.projects .projects__slider::before {
  content: "";
  position: absolute;
  background-color: var(--bg-primary);
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  width: 50vw;
  z-index: 1;
}

section.projects .projects__slider .slick-list {
  overflow: visible;
}

section.projects .projects__slider-item {
  --padding-inline: 20px;
  --padding-block: 40px;

  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;

  position: relative;

  background-color: var(--bg-badge);
  margin-inline: 8px;
}
section.projects .projects__slider-item:first-child {
  margin-left: 0;
}
section.projects .projects__slider-item:last-child {
  margin-right: 0;
}

section.projects .projects__slider-item > h3 {
  font-family: var(--font-lora);
  font-weight: 500;
  font-size: var(--text-lg);
  color: var(--text-heading-primary);
  line-height: 1.4;
  padding-top: var(--padding-block);
  padding-bottom: var(--padding-block);
  padding-inline: var(--padding-inline);
}
section.projects .projects__slider-item > div {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-inline: var(--padding-inline);
  padding-bottom: var(--padding-block);
}
section.projects .projects__slider-item > img {
  width: 100%;
}
section.projects .projects__slider-nav {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 40px;
}

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
  section.projects .projects__slider-nav {
    display: none;
  }
  section.projects .container > a {
    display: flex;
    gap: 1rem;
  }
}
@media screen and (max-width: 425px) {
}

/* ––––––– BANNER ––––––– */

section.banner {
  background-color: var(--bg-badge);
}
section.banner h2 {
  text-align: center;
  font-size: var(--text-md);
  color: var(--text-body);
  font-weight: 400;
}

.logo__slider {
  max-width: 100%;
  overflow: hidden;
  padding-block: 2rem;
}

.logo__slider img {
  display: block;
  height: auto;
  margin: 0 auto;
}

/* ––––––– REVIEWS ––––––– */
section.reviews {
  overflow-x: hidden;
}

section.reviews .slick-list {
  overflow: visible;
}

section.reviews .reviews__slider {
  position: relative;
}
section.reviews .reviews__slider::before {
  content: "";
  position: absolute;
  background-color: var(--bg-primary);
  top: 0;
  bottom: -5px;
  left: 0;
  transform: translateX(-100%);
  width: 50vw;
  z-index: 1;
}

section.reviews .reviews__slider-item {
  padding: 40px;
  margin-inline: 8px;
  background-color: var(--color-bg);
}
section.reviews .reviews__slider-item:first-child {
  margin-left: 0;
}
section.reviews .reviews__slider-item:last-child {
  margin-right: 0;
}
section.reviews .reviews__slider-item > h3 {
  font-family: var(--font-lora);
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 1.4;
  color: var(--color-content);
}
section.reviews .reviews__slider-item > div {
  margin-top: 46px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 64px 1fr;
}
section.reviews .reviews__slider-item > div > img {
  grid-row: span 2;
  border-radius: 8px;
}
section.reviews .reviews__slider-item > div > p {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--text-sm);
  line-height: 1;
  align-self: end;
  color: var(--color-name);
}
section.reviews .reviews__slider-item > div > div {
  --gap: 8px;
  display: flex;
  align-items: center;
  align-self: start;
  gap: var(--gap);
  flex-wrap: wrap;
  line-height: 1;
  color: var(--color-desc);
}
section.reviews .reviews__slider-item > div > div > p {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
section.reviews .reviews__slider-item > div > div > p:first-child::before {
  content: none;
}
section.reviews .reviews__slider-item > div > div > p::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-desc);
}

section.reviews .reviews__slider-item:nth-child(3n + 1) {
  --color-bg: var(--bg-red-secondary);
  --color-content: var(--pink-light);
  --color-name: var(--text-heading-inverted);
  --color-desc: var(--text-body-inverted);
}

section.reviews .reviews__slider-item:nth-child(3n + 2) {
  --color-bg: var(--violet);
  --color-content: var(--text-heading-secondary);
  --color-name: var(--text-heading-primary);
  --color-desc: var(--text-heading-primary);
}
section.reviews .reviews__slider-item:nth-child(3n) {
  --color-bg: var(--blue-light);
  --color-content: var(--text-heading-secondary);
  --color-name: var(--text-heading-primary);
  --color-desc: var(--text-heading-primary);
}

section.reviews .reviews__slider-nav {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 640px) {
  section.reviews .reviews__slider-nav {
    display: none;
  }

  section.reviews .reviews__slider-item {
    padding: 40px 1rem;
  }

  section.reviews .reviews__slider-item > div > div > p::before {
    content: none;
  }
  section.reviews .reviews__slider-item > div > div {
    font-size: 14px;
  }
}

/* ––––––– FOOTER ––––––– */

footer .footer__header {
  background-color: var(--brand-800);
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding-block: 64px;
  gap: 128px;
  width: 100%;
}
footer .container > a {
  flex-basis: 50%;
  width: fit-content;
}
footer .container > div {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  color: var(--brand-100);
}
footer .container > div > div {
  display: grid;
  grid-template-rows: subgrid;
  gap: 40px;
  grid-row: span 2;
}
footer .container > div > div ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

footer .footer__footer {
  background-color: var(--bg-light-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__footer .container {
  padding-block: 36px;
}

footer .footer__footer > p {
  font-size: var(--text-sm);
  line-height: 1.5;
  color: var(brand-800);
}

footer .footer__footer .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1280px) {
  footer div.container:first-of-type {
    flex-direction: column;
    justify-content: baseline;
    gap: 3rem;
  }
  footer .container > a {
    max-width: 200px;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
  footer .container > div {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  footer .container > div > div {
    gap: 1.5rem;
  }
  footer .container > div > div ul {
    gap: 1.25rem;
  }
}
@media screen and (max-width: 425px) {
}
