*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: var(--bg-primary);

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

:root {
  --bg-primary: #f9f7f4;
  --bg-header: #ffffff;
  --bg-brand-senary: #254849;
  --bg-light-green: #abd8d6;
  --bg-red-secondary: #33111b;
  --bg-badge: #eeebe5;
  --bg-map: #d0b2c04d;

  --brand-50: #ccdadc;
  --brand-100: #afc3c2;
  --brand-800: #183536;

  --violet: #bcaec8;
  --blue-light: #9aabb5;
  --pink-light: #d0b2c0;

  --border-primary: #d1d5d8;
  --border-secondary: #e5e7eb;

  --text-heading-primary: #111827;
  --text-heading-inverted: #ffffff;
  --text-heading-secondary: #374151;
  --text-body: #4b5563;
  --text-body-inverted: #e5e7eb;
  --text-link-secondary: #374151;
  --text-link-secondary-inverted: #ffffff;
  --text-link-primary: #3e6b6c;

  --section-padding: clamp(1.25rem, -0.511rem + 7.512vw, 6.25rem);
  --header-height: 88px;

  --text-2xs: 12px;
  --text-xs: clamp(0.75rem, 0.625rem + 0.3125vw, 0.875rem); /* 12-14 px */
  --text-sm: clamp(0.875rem, 0.75rem + 0.3125vw, 1rem); /* 14-16 px */
  --text-md: clamp(1rem, 0.875rem + 0.3125vw, 1.125rem); /* 16-18 px */
  --text-lg: clamp(1.125rem, 1rem + 0.3125vw, 1.25rem); /* 18-20 px */
  --text-xl: clamp(1.5rem, 1.25rem + 0.625vw, 1.75rem); /* 24-28 px */
  --text-2xl: clamp(1.625rem, 1.25rem + 0.9375vw, 2rem); /* 26-32 px */
  --text-3xl: clamp(1.75rem, 1.25rem + 1.25vw, 2.25rem); /* 28-36 px */
  --text-4xl: clamp(2.25rem, 1.5rem + 1.875vw, 3rem); /* 36-48 px */
  --text-5xl: clamp(3rem, 2rem + 2.5vw, 4rem); /* 48-64 px */

  --font-lora: "Lora", serif;
  --font-inter: "Inter", sans-serif;

  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 1rem;
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 425px;
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
  }
}

section {
  padding-block: var(--section-padding, 100px);
}

main {
  counter-reset: section;
}
main > section .page-divider {
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: calc(1.5 * var(--text-sm));
  display: flex;
  gap: 18px;
  align-items: center;
  white-space: nowrap;
  color: var(--text-heading-primary);
  margin-bottom: 56px;
  position: relative;
}
main > section .page-divider > a {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--bg-primary);
  padding: 4px 12px;
  color: var(--text-link-primary);
}
main > section .page-divider > a > img {
  margin-left: 5px;
  filter: invert(21%) sepia(6%) saturate(2467%) hue-rotate(178deg)
    brightness(92%) contrast(83%);
  transform: rotate(-90deg) scale(2);
}
.page-divider::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
}
.page-divider::before {
  counter-increment: section;
  content: "[" counter(section) "]";
  margin-right: -13px;
}

.badge {
  background-color: #e5ded3;
  padding: 2px 10px;
  border-radius: 6px;

  font-weight: 500;
  font-size: var(--text-xs);
  color: var(--text-link-secondary);
  line-height: 1.4;
}

/* ––––––– MOBILE MENU ––––––– */

.menu-btn {
  --btn-bg-color: transparent;
  --btn-text-color: var(--text-link-secondary-inverted);

  display: none;
  cursor: pointer;
  padding: 8px;
  background-color: var(--btn-bg-color);
  border: none;
  height: 100%;
}

header.active .menu-btn,
header.darken .menu-btn,
header:not(.transparent) .menu-btn {
  --btn-bg-color: transparent;
  --btn-text-color: var(--links-color-scrolled);
}

.menu-btn span {
  display: block;
  width: 18px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--btn-text-color);
  margin-bottom: 4px;

  transition: all 0.3s ease;
}

.menu-btn span:last-child {
  margin-bottom: 0;
}

.menu-btn.active span:first-child {
  transform: translateY(6px) rotate(45deg);
}
.menu-btn.active span:nth-child(2) {
  opacity: 0;
}
.menu-btn.active span:last-child {
  transform: translateY(-6px) rotate(-45deg);
}

.mobile-menu {
  --menu-bg-color: var(--bg-brown);
  --menu-text-color: var(--text-white);

  display: none;
}

header.active .mobile-menu {
  --menu-bg-color: var(--header-active-color);
  --menu-text-color: var(--text-heading-primary);
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: grid;
    width: 100%;
    grid-template-rows: 0fr;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--menu-bg-color);

    transition: all 0.3s ease;
  }

  .mobile-menu .mobile-menu__content {
    --item-padding: 1rem;

    overflow: hidden;
    background-color: var(--content-bg-color);
    height: auto;
    max-height: 100lvh;
    overflow-y: auto;
  }
  .mobile-menu .mobile-menu__content > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 1rem;
  }
  .mobile-menu .mobile-menu__content > nav > ul li {
    width: 100%;
  }

  .mobile-menu.active {
    grid-template-rows: 1fr;
  }
  .mobile-menu .mobile-menu__content > nav > ul li a {
    padding-block: var(--item-padding);
    display: block;
    color: var(--menu-text-color);
  }

  .mobile-menu.active .mobile-menu__content {
    opacity: 1;
  }

  .mobile-menu .mobile-menu__content-dropdown {
    display: grid;
    grid-template-rows: 0fr;
    gap: var(--gap);
    position: relative;

    transition: grid-template-rows 0.3s ease;
  }

  .mobile-menu .mobile-menu__content-dropdown__container {
    position: relative;
    color: var(--menu-text-color);
  }
  .mobile-menu .mobile-menu__content-dropdown__container {
    padding-block: var(--item-padding);
  }
  .mobile-menu .mobile-menu__content-dropdown__container::before {
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    top: calc(var(--item-padding) / 2 + 5px);
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--links-color-scrolled);
    border-right: 2px solid var(--links-color-scrolled);
    border-radius: 1px;
    transform-origin: center;
    transform: rotate(135deg);

    transition: all 0.3s ease;
  }

  .mobile-menu .mobile-menu__content-dropdown__container.active::before {
    top: calc(var(--item-padding) / 2 + 5px);
    transform: rotate(-45deg);
  }

  .mobile-menu .mobile-menu__content-dropdown > ul {
    display: grid;
    background-color: var(--color-secondary-light);
    margin-top: 0;
    padding: 0;
    border-radius: 10px;
    gap: var(--gap);
    opacity: 0;
    overflow: hidden;

    transition: all 0.3s ease;
  }
  .mobile-menu
    .mobile-menu__content-dropdown__container.active
    .mobile-menu__content-dropdown {
    grid-template-rows: 1fr;
  }
  .mobile-menu
    .mobile-menu__content-dropdown__container.active
    .mobile-menu__content-dropdown
    > ul {
    opacity: 1;
    margin-top: 10px;
    color: var(--menu-text-color);
  }
  .mobile-menu
    .mobile-menu__content-dropdown__container.active
    .mobile-menu__content-dropdown
    > ul
    li
    a {
    display: grid;
  }
  .mobile-menu
    .mobile-menu__content-dropdown__container.active
    .mobile-menu__content-dropdown
    > ul
    li
    a
    > span {
    font-size: var(--text-xs);
    color: var(--text-body);
  }

  .menu-btn {
    display: block;
  }
}
@media screen and (max-width: 640px) {
}

/* ––––––– DROPDOWN –––––––– */

.dropdown {
  --dropdown-container-color: var(--header-active-color);
  --dropdown-border-color: transparent;
  --dropdown-text-color: var(--text-heading-primary);
  --dropdown-text-color-hover: var(--text-heading-secondary);
  --dropdown-text--bg-color-hover: transparent;
  --triangle-deg: 45deg;
  --triangle-deg-active: -135deg;
  --triangle-transform-origin: center;

  position: relative;
  display: flex;
  align-items: center;
  font-weight: inherit;
  color: inherit;
  user-select: none;
  cursor: pointer;
}
.dropdown::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 12px;
  border-color: var(--dropdown-border-color);
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 1px;
  transform: rotate(var(--triangle-deg));
  margin-bottom: 3px;
  transform-origin: var(--triangle-transform-origin);
  transition: all 0.3s ease;
}
.dropdown.active::after {
  margin-bottom: 0;
  margin-top: 3px;
  transform: rotate(var(--triangle-deg-active));
}

.dropdown .dropdown__content {
  display: block;
  opacity: 0;
  gap: 4px;
  top: calc(100% + 1.5rem);
  left: -1rem;
  pointer-events: none;
  position: absolute;
  background-color: var(--dropdown-container-color);
  z-index: 997;
  box-shadow: var(--shadow);
  width: fit-content;
  padding: 8px;
  margin-top: 8px;
  transform: translateY(-10px);
  color: var(--links-color-scrolled);
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  box-shadow: 0px 2px 4px -2px #121a2b0f, 0px 4px 6px -2px #121a2b1a;

  transition: all 0.3s ease;
}
.dropdown.active .dropdown__content {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.dropdown .dropdown__content ul {
  display: grid;
  padding: 1rem 2rem;
  gap: 28px;
}
.dropdown .dropdown__content ul li {
  display: grid;
  white-space: nowrap;

  font-size: var(--text-sm);
  line-height: 1.5;
  color: var(--dropdown-text-color);
}
.dropdown .dropdown__content ul li a > span {
  font-size: var(--text-xs);
  color: var(--text-body);
}
.dropdown .dropdown__content > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 6px;

  color: var(--dropdown-text-color);
  font-weight: 900;

  padding: 12px 16px;
  border-radius: 5px;

  transition: all 0.3s ease;
}
@media (hover: hover) {
  .dropdown .dropdown__content a:hover {
    background-color: var(--dropdown-text--bg-color-hover);
    color: var(--dropdown-text-color-hover);
  }
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 12px;
  background-color: #eeebe5;
  box-shadow: var(--shadow);
  border-radius: 8px;
  position: absolute;
}
.tooltip span {
  font-size: var(--text-sm);
  color: var(--text-heading-primary);
  font-weight: 500;
  line-height: 1.5;
}
.tooltip a {
  --link-color: var(--text-link-primary);

  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 12px;
  text-align: center;
  font-size: var(--text-sm);
  transition: color 0.3s ease;
}
@media (hover: hover) {
  .tooltip a:hover {
    color: var(--text-link-secondary);
  }
}
.tooltip a::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;

  border-right: 2px solid var(--link-color);
  border-bottom: 2px solid var(--link-color);
  border-radius: 2px;

  transform-origin: center;
  transform: rotate(-45deg);
}

.header-bold {
  font-size: var(--text-md);
  line-height: 1.6;
  color: var(--text-heading-primary);
  font-weight: 600;
}



/* –––––– MAIN CARD –––––– */

article.card__primary {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;

  padding: 20px;

  background-color: var(--bg-badge);
}
.card__primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.card__primary-header > p {
  font-weight: 500;
  font-size: var(--text-xs);
  line-height: 1.5;
  color: var(--text-heading-secondary);
}
.card__primary-header > p::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 6px;
}
.card__primary-header > span {
  font-weight: 400;
  font-size: var(--text-2xs);
  line-height: 1.5;
  color: var(--text-body);
}
article.card__primary > h3 {
  font-family: var(--font-lora);
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 1.5;
}
.card__primary-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}


.pagination {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  height: 40px;
}
.pagination > .pagination__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  color: var(--bg-brand-senary);
  
  border: 1px solid var(--border-primary);
  border-right: none;
}
.pagination > .pagination__box.active {
  background-color: var(--brand-50);
}
.pagination > .pagination__box:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.pagination > .pagination__box:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid var(--border-primary);
}